<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app2m.demo2.network">

    <application>
        <activity android:name=".NetworkActivity" />
        <activity android:name=".MyListActivity" />
        <activity android:name=".NetworkJavaActivity" />
    </application>

</manifest>